---
layout: default
name: index
---

	<div class="grid__item one-whole">
  	{% for post in site.posts %}
		<article class="post_content">

			{% include headline.html %}
	
			<section class="post_content_main">
				{{ post.content }}
			</section>
			<footer>
			<p class="meta"><span class="meta-ital">By</span> Nathaniel Ward <span class="meta-ital">on</span> <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>


			</footer>
		</article>

		<hr class="rule  rule--ornament">
	{% endfor %}
	</div><!-- /one-whole --> 
