---
layout: default
---

	<div class="grid__item one-whole">
  	{% for post in posts %}
		<article class="post_content">

			<h1>
			{% if post.linked %}<a href="{{ post.linked }}" title="Link to external page">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }} &rarr;</a>
			{% else %}
			<a href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
			{% endif %}</h1>
	
			<section class="post_content_main">
				{{ post.content }}
				{% if post.linked %}<p><a class="permalink" href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="Permanent link to this post" rel="bookmark">&para;</a></p>{% endif %}
			</section>
			<footer>
			<p class="meta"><span class="meta-ital">By</span> Nathaniel Ward <span class="meta-ital">on</span> <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>


			</footer>
		</article>

		<hr class="rule  rule--ornament">
	{% endfor %}
	
	<nav class="pagination">

	</nav>
	
	</div><!-- /one-whole --> 
