---
layout: default
---

	<div class="grid__item one-whole">
  	{% for post in paginator.posts %}
		<article class="post_content">

			<h1 class="beta">
			{% if post.linked %}<a class="permalink" href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="Permanent link to this post" rel="bookmark">&para;</a> <a href="{{ post.linked }}">{{ post.title }} &rarr;</a>
			{% else %}
			<a href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
			{% endif %}</h1>
	
			<section class="post_content_main">
				{{ post.content }}
			</section>
			<footer>
			<p class="meta"><span class="meta-ital">By</span> Nathaniel Ward <span class="meta-ital">on</span> <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>


			</footer>
		</article>

		<hr class="rule  rule--ornament">
	{% endfor %}
	
	<nav class="pagination">
	{% if paginator.total_pages > 1 %}
		<ul>
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
			<li><a href="/">&laquo; Previous</a> |</li>
			{% else %}
			<li><a href="/page{{ paginator.previous_page }}">&laquo; Previous</a> |</li>
			{% endif %}
		{% else %}
			<!-- no previous button-->
		{% endif %}
		{% if paginator.next_page %}
			<li>| <a href="/page{{ paginator.next_page }}">Next &raquo; </a></li>
		{% else %}
			<!-- no next button-->
		{% endif %}
		</ul>
	{% endif %}
	</nav>
	
	</div><!-- /one-whole --> 
