---
layout: default
---

		<article class="post_content">

			{% include headline.html %}
	
			<section>
				{{ content }}
				{% if page.linked %}<p><a class="permalink" href="{{ page.url | replace:'index.html','' | absolute_url }}" title="Permanent link to this post" rel="bookmark">&para;</a></p>{% endif %}
			</section>
			<p class="meta">Nathaniel Ward &middot; <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time></p>
			<hr class="rule">
		</article>
